 .navbar-brand {
      font-weight: bold;
      font-size: 1.5rem;
    }
    .navbar {
      height: 90px;
    }
    .form-control {
      width: 300px;
    }
    @media (max-width: 768px) {
      .form-control {
        width: 100%;
      }
    }

    
#mainmen{
    background-image: url(./img/banner-1.jpg);
}