*{
    margin: 0px;
    padding: 0px;

}

#idteam{
/* width: 100%; */
display: grid;
grid-template-columns: repeat(3,1fr);
}    

.box{
    
    height: 150px;
    /* width: 20%; */

    border: 1px solid gold;
    border-radius: 10px;
}   