*{
  margin: 0;
  padding: 0;

}


#nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
/* nevbar below link */
#ne{
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  background-color:  rgb(255, 255, 255);
}
.navb{
  height: 75px;
  width: 90%;
  margin-left: 5%;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.navblinks{
  
  margin-top: -6px;
  width: 100%;
  height: 70px;
  
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 50px;
  overflow-y: scroll;
}
.navblinks p{
  width: 100px;
  /* border: 1px solid red; */
  font-size: 20px;
}
::-webkit-scrollbar {
  display: none;
}
/* slider */

html,
    .slider {
      position: relative;
      height:500px ;
      margin-top: 100px;
    }

    .slider {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }





/*------- catagory ------ */


