*{
    margin: 0px;
    padding: 0px;
}

#he{
    background-color: rgb(67, 67, 238);
    color: white;
    height: 29px;
    font-size: 20px;
}


/* sider */

.scroll{
    width: 90%;
    margin: 2% 5% 0% 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

.righscroll{
    width: 48%;
    border: 1px solid black;
    height: 97vh;
    background-color: rgb(178, 176, 176); 
    /* padding-bottom : 20px;   */
}
.leftscroll{
    width: 48%;
    height: 95vh;
    border: 1px solid red;
}




/* products cart*/


.img1{
    
}








/* filter leftsaid  */

