*{
    margin: 0px;
    padding: 0px;
}
body {
    
    margin: 20px;
    padding: 0;
    background-color: #f4f4f9;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

form input, form select, form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.product-list {
    max-width: 800px;
    margin: 20px auto;
}
.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.product img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}
.actions button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.actions .edit {
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 5px;
}
.actions .delete {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
}
.ss{
    margin-top: 30px;
    display: flex;
   /* border: 1px solid red; */
    justify-content: space-around;
}